<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ context.title }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container text-center mb-3 mt-4">
        <h1>Strona główna</h1>
        <a href="/" class="btn btn-secondary" >Strona główna</a>
        <a href="/logout" class="btn btn-danger">Wyloguj</a>
    </div>
<h4 class="container mb-4 mt-4">Witaj na swoim koncie użytkownika. Masz wypożyczone następujące pozycje:</h4>
{% for book in context.user_books %}
    <div class="container">
        <h6>{{ book.title }}</h6>
        <p>{{ book.author }}</p>
    </div>
{% endfor %}
<h5 class="container text-center mt-5">Tytuły, które możesz wypożyczyć:</h5>
<table class="container table table-striped ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tytuł</th>
      <th scope="col">Autor</th>
        <th scope="col">Akcja</th>
    </tr>
  </thead>
  <tbody>
    {% for book in context.all_books %}
    <tr>
        <th scope="row">{{ book.id }}</th>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td><form action="{{ url_for('borrow_book', book_id=book.id) }}" method="POST">
            <button class="btn btn-success" type="submit">Wypożycz</button>
        </form>
        </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</body>
</html>